{% extends '::base.html.twig' %}

{% block title %}Shopping Cart{% endblock %}

{% block stylesheets %}
    <style>
        td, th {
            padding: 10px;
        }

        .cart-img {
            position: relative;
            height: 100px;
            width: 100px;
            margin: 0;
        }

        .cart-img img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 92px; /* 92 px is 100px of the parent - 4px padding on each side */
            max-width: 92px;
            width: auto;
        }

        td {
            vertical-align: middle !important;
        }

        #cart-update-alert p {
            margin: 0;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-warning">
                <div class="panel-heading">

                    <h2 class="panel-title">Shopping Cart</h2>

                </div>

                {% if empty %}
                    <div class="panel-body">

                        <h4>Cart Empty!</h4>

                    </div>
                {% else %}

                    {% if updated %}
                        <div class="panel-body" id="cart-update-alert">

                            <p class="lead text-info">{{ updateMsg }}</p>

                        </div>
                    {% endif %}

                    <table class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in results %}

                            <tr>

                                {# Item Image #}
                                <td>
                                    <div class="thumbnail cart-img">
                                        <img src="{{ item.image }}" width="100"/>
                                    </div>
                                </td>

                                {# Item Name #}
                                <td>
                                    <a href="{{ path('aca_show_product_detail', {'slug': item.slug}) }}">{{ item.name }}</a>
                                </td>

                                {# Item Price #}
                                <td>${{ item.unit_price }}</td>

                                {# Quantity Form Group #}
                                <td>

                                    <form action="{{ path('aca_update_qty') }}" method="post">
                                        <div class="input-group input-group-sm" style="width: 100px;">
                                            <input type="text" name="new-qty" class="form-control"
                                                   placeholder="{{ item.quantity }}">
                                            <span class="input-group-btn">
                                                <input type="submit"
                                                       name="update-qty"
                                                       value="Update"
                                                       class="btn btn-default"/>
                                            </span>
                                        </div>

                                        <input type="hidden" name="cart-product-id" value="{{ item.id }}"/>

                                        <input type="hidden" name="old-qty" value="{{ item.quantity }}"/>
                                    </form>

                                </td>

                                {# Delete Form Group #}
                                <td>

                                    <form action="{{ path('aca_delete_from_cart') }}" method="post">

                                        <button type="submit" class="btn btn-danger btn-sm delete-item">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>

                                        <input type="hidden" value="{{ item.id }}" name="cart-product-id">

                                    </form>

                                </td>

                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="panel-footer">
                        <div>
                            <strong>Sum: ${{ sum|number_format(2, '.', ',') }}</strong>
                        </div>
                    </div>
                {% endif %}

            </div> {# .panel .panel-warning #}

        </div> {# .col-md-10 .col-md-offset-1 #}
    </div> {# .row #}


{% endblock %}

{% block javascipts %}


{% endblock %}