{% extends '::base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}



    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="panel panel-default">


                {% if loggedIn %}

                    <div class="panel-heading">
                        <h1 class="panel-title">Welcome {{ name }}</h1>
                    </div>

                    <div class="panel-body">

                        <form action="{{ path('aca_logout_handler') }}" method="post">
                            <input type="submit" value="Logout" class="btn btn-default"/>
                        </form>

                    </div>


                {% else %}

                    <div class="panel-heading">
                        <h1 class="panel-title">Login</h1>
                    </div>

                    <div class="panel-body">

                        <form action="{{ path('aca_login_handler') }}" method="post">

                            <div class="form-group">
                                <label for="login-user">Username:</label>
                                <input type="text" name="username" value="{{ username }}" id="login-user"
                                       class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label for="login-password">Password:</label>
                                <input type="password" name="password" value="{{ password }}" id="login-password"
                                       class="form-control"/>
                            </div>

                            <a href="{{ path('aca_register') }}" class="btn btn-default">Register</a>

                            <input type="submit" value="Login" class="btn btn-primary pull-right"/>

                        </form>

                    </div> <!-- /.panel-body -->

                {% endif %}

            </div> <!-- /.panel .panel-default -->

            {% if msg %}
                <div class="alert alert-danger" role="alert">{{ msg }}</div>
            {% endif %}

        </div>
    </div>

{% endblock %}

