{% extends '::base.html.twig' %}

{% block stylesheets %}
    <style>
        .img-holder img {
            display: inline-block;
        }

        .img-holder {
            text-align: center;
        }

        .product-holder {
            padding: 20px;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="panel panel-warning">

        <div class="panel-body product-holder">

            <div class="row">
                <div class="col-md-6">

                    <div class="img-holder">
                        <img src="{{ product.image }}" class="img-responsive thumbnail"/>
                    </div>


                </div>
                <div class="col-md-6">

                    <div class="vertical-parent">

                        <div class="vertical-child">

                            <h3>{{ product.name }}</h3>

                            <p class="lead">{{ product.price }}</p>

                            <p>{{ product.description }}</p>

                            <form action="{{ path('aca_add_to_cart') }}" method="post">

                                <div class="input-group">
                                    <input type="text" name="qty" class="form-control" placeholder="Quantity">
                                    <span class="input-group-btn"><input type="submit"
                                                                         name="add-qty"
                                                                         value="Add To Cart"
                                                                         class="btn btn-default"></span>
                                </div>

                                <input type="hidden" name="product-id" value="{{ product.id }}">

                                <input type="hidden" name="slug" value="{{ product.slug }}">

                            </form>

                            {% if msg %}
                                <div class="alert alert-danger" role="alert">{{ msg }}</div>
                            {% endif %}

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>


{% endblock %}